#content{
    max-width: 1600px;
margin: 0 auto;
}
nav{
text-align: center;
}
nav a{padding: 35px;
    text-decoration: none;
    color: white;}
#hero-msg h1, #hero-msg h4{text-align: center;}
.button-box{text-align: center;}
main section{text-align: center;}
#background {
    background-color: #A42212;
    height: 725px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #EAF6FF;
    margin: 0;
    padding: 0; 
}
header {
    /* text-align: center; */
    background-color:#396E94;
}
nav a:hover {
    background-color: white;
    color: #396E94;
}
.book, .join{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
color: #396E94;
    background-color: white;
}
.book:hover, .join:hover{
    color: white;
    background-color: #396E94;
}
.msg{padding: 35px;
    line-height: 1.5em;
    background-color: #E7C24F;}
footer{ margin-top: 200px;
    padding: 25px 50px;
    background-color: #396E94;}
.home-title{
    margin-top: 10px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: #396E94;}
h4{color: black;}
.msg h2{font-family: Arial, Helvetica, sans-serif;
    color: black;}
.msg p{padding-bottom: 15px;
    font-size: .8em;
    color: black;}
footer h3{color: black;}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    background-color: white;
    color: #396E94;
}
.logo{margin: auto;
    width: 80px;}
.icon{padding-top: 10px;
    width: 80px;}
#hero-img{width: 100%;}
footer h3 a:hover{text-decoration: underline;}
h2{margin: 0;}
footer .social img{padding-top: 15px ;}
#logo_link{padding-top: 5px;}   
.rivers-card, .camping-card, .rapids-card{margin: 200px 0;}
.card-img{border: 10px solid #396E94;} 
main section img{box-sizing: border-box;}  